<div class="card">
  <div class="card-body">
    <h4 class="card-title">Form row</h4>
    <h6 class="card-subtitle">You may also swap <code>.row</code> for <code>.form-row</code>, a variation of our
      standard grid row that overrides the default column gutters for tighter and more compact layouts.</h6>

    <form [formGroup]="debitOrderForm" (ngSubmit)="onDebitOrderSubmit()">
      <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type="text" class="form-control" formControlName="accountName">
            <label>Account Name</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type=" text" class="form-control" formControlName="idNumber">
            <label>Id Number</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type=" text" class="form-control" formControlName="bankCode">
            <label>Bank</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type="text" class="form-control" formControlName="branchCode">
            <label>Branch</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type=" text" class="form-control" formControlName="accountNumber">
            <label>Account Number</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type=" text" class="form-control" formControlName="debitAmount">
            <label>Debit Amount</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type="text" class="form-control" formControlName="debitNarration">
            <label>Debit Narration</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type=" text" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="startDate">
            <label>Start Date</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type="text" class="form-control"  bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="endDate">
            <label>End Date</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="form-group form-group--float">
            <input type="text" class="form-control" formControlName="creditor">
            <label>Creditor</label>
            <i class="form-group__bar"></i>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-4 col-md-6 col-sm-12 offset-lg-4 offset-md-3">
          <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>
